.python {
  background-color: rgb(68, 67, 67);
  /* background-image: url(../images/bg6.jpg); */
  background-image: url(../images/2.jpg);
  /* background-image: url(../images/796849.jpg); */
  background-size: cover;
  color: wheat;
}
