@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.myslider .item {
  width: 100%;
  position: relative;
}
.myslider .item.c {
  background-color: #325d7f;
}
.myslider .item.b {
  background-color: #f2727f;
}
.myslider .item.a {
  background-color: #f9b294;
}
.myslider .item h2 {
  color: #fff;
  font-size: 8vw;
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
  margin: 0 auto;
  max-width: 80%;
  text-transform: uppercase;
  position: absolute;
  top: 44%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}

.slick-dots {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2%;
}
.slick-dots li {
  list-style: none;
  margin: 15px 0;
}
.slick-dots button {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #fff;
  text-indent: -9999px;
  outline: 0;
}
.slick-dots button:hover {
  background-color: #000;
}

.slick-slide {
  height: 100vh !important;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}
@media only screen and (max-width: 1025px) {
  .slick-dots button {
    display: none;
  }
}
