@import url("https://fonts.googleapis.com/css?family=Vollkorn+SC");
body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #3c3c3c;
}

* {
  font-family: "Vollkorn SC", serif;
}

#nav_button {
  display: none;
}

.body-1 {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #f44336;
  float: right;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  left: 0%;
  transition: 0.75s;
  position: relative;
  overflow: auto;
}

.on {
  display: block;
  width: 150px;
  padding: 15px;
  background: #4caf50;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
  transition: 0.1s;
}

.on:active {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  transition: 0.1s;
}

.side_nav {
  position: fixed;
  width: 275px;
  height: 100%;
  background: #e1bee7;
  border-right: solid 8px #7b1fa2;
  z-index: 999;
  left: -283px;
  float: left;
  transition: 0.75s;
  overflow-y: auto;
  overflow-x: hidden;
}
.logo {
  width: 100%;
  height: 180px;
  border-bottom: solid 5px #ba68c8;
}

.logo .off {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 0% 0% 0% 50%;
  font-size: 25px;
  text-align: center;
  background: #6a1b9a;
  color: #fff;
}

.logo img {
  margin: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}
.logo p {
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav_link {
  display: block;
  list-style: none;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  transition: 0.2s;
}
.nav_link a li {
  padding: 13px;
}
.nav_link a {
  width: 100%;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  transition: 0.3s;
}
.nav_link a li:hover {
  background: #6a1b9a;
}
.nav_link a:hover {
  color: #fff;
}

#nav_button:checked ~ .side_nav {
  left: 0;
}

#nav_button:checked ~ .body {
  transform: matrix3d(
    0.62,
    0,
    0,
    -0.0002,
    0,
    0.7,
    0,
    0,
    0,
    0,
    1,
    0,
    0,
    0,
    0,
    1
  );
  left: 5%;
}

/* this is just to edit scrollbar */
::-webkit-scrollbar {
  background: #ec407a;
}
