html {
  margin-right: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Pre-Loader */
.spinner {
  width: 80px;
  height: 80px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid red;
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: spin 3s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 1);
  z-index: 9999;
}

.scrollTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 50%;
  background-color: #fd1d1d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
  /* transition-timing-function: ease-in-out;
  transition-property: background-color; */
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
}

.scrollTop.active{
  visibility: visible;
  opacity: 1;
}

.scrollTop:hover {
  background-color: salmon;
}

.btn-enter{
    animation-duration: 0.5s;
    animation-name: btn-entry;
    animation-fill-mode: both;
}

@keyframes btn-entry {
    from{
        opacity: 0;
        transform: scale3D(0.3, 0.3, 0.3);
    }to{
        opacity: 1;
        z-index: 3;
    }
}

.btn-exit{
    animation-duration: 0.25s;
    animation-name: btn-exit;
    animation-fill-mode: both;
}

@keyframes btn-exit {
    from{
        opacity: 1;
    }to{
        opacity: 0;
        transform: scale3D(0.3, 0.3, 0.3);
    }
}

#top{
  height: 110vh;
  background-color: #ff781f;
}

*{
  font-family: 'Inter', sans-serif;
}

/* navbar css */


.navbar-brand {
  /* padding: 0 55% 0 2%; */
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}
@media screen and (min-device-width:484px) {
  .navbar-brand{
    padding: 0 55% 0 2%;
  }
}
@media screen and (max-device-width:484px) {
  .navbar-brand{
    padding: 0 20% 0 2%;
  }
}

.nav-top {
  /* color: white; */
  position: absolute;
  z-index: 2;
  background: #f5f5f5;
}



#comp-name{
  position: relative;
  text-shadow: 6px 2px 4px #00000059;
  top: 160px;
  /* left: 5%; */
  font-size: 120px;
  font-weight: 600;
  color: white;
}
#text{
  position: relative;
  top: 190px;
  left: 35%;
  text-shadow: 6px 2px 4px #00000059;
  font-size: 50px;
  color: white;
}
#comp-logo{
  position: relative;
  top: 60px;
  left: 20%;
}

#quote{
  position: relative;
  top: 40px;
  font-size: 32px;
  color: #fff;
  text-shadow: 3px 2px 4px #00000059;
}

#quote-author{
  font-size: 32px;
  color: #fff;
  padding-left: 75%;
  text-shadow: 3px 2px 4px #00000059;
}


@media (max-width:1000px){
  #top{
      height:115vh;
  }
  #comp-name{
      position: relative;
      top: 150px;
      font-size: 90px;
      font-weight: 600;
      color: white;
  }
  #text{
      position: relative;
      top: 180px;
      left: 60px;
      font-size: 40px;
      color: white;
  }
  #comp-logo{
      position: relative;
      top: 60px;
      left: 10%;
      width: 320px;
  }
  
  #quote{
      position: relative;
      top: 100px;
      font-size: 25px;
      color: #fff;
  }
  
  #quote-author{
      position: relative;
      top: 90px;
      font-size: 25px;
      color: #fff;
      padding-left: 70%;
  }
}

@media (max-width:800px){
  #top{
      height:106vh;
  }
  .container{
      margin-left:0%;
  }
  #comp-name{
      position: relative;
      top: 150px;
      font-size: 90px;
      font-weight: 600;
      color: white;
  }
  #text{
      position: relative;
      top: 180px;
      font-size: 30px;
      color: white;
  }
  #comp-logo{
      position: relative;
      top: 80px;
      left: 30%;
      width: 260px;
  }
  
  #quote{
      font-size: 25px;
      color: #fff;
  }
  
  #quote-author{
      font-size: 25px;
      color: #fff;
      padding-left: 70%;
  }
}

@media (max-width:750px){
  #top{
      height:110vh;
  }
  .container{
      margin-left:0%;
  }
  #comp-name{
      position: relative;
      top: 150px;
      font-size: 80px;
      font-weight: 600;
      color: white;
  }
  #text{
      position: relative;
      top: 180px;
      font-size: 30px;
      color: white;
  }
  #comp-logo{
      position: relative;
      top: 90px;
      left: 17%;
      width: 250px;
  }
  
  #quote{
      font-size: 25px;
      color: #fff;
      position: relative;
      top: 120px;
  }
  
  #quote-author{
      position: relative;
      top: 110px;
      font-size: 25px;
      color: #fff;
      padding-left: 70%;
  }
}

@media (max-width:550px){
  #top{
      height:110vh;
  }
  #comp-name{
      position: relative;
      top: 160px;
      font-size: 70px;
      font-weight: 600;
      color: white;
  }
  #text{
      position: relative;
      top: 180px;
      font-size: 30px;
      color: white;
  }
  #comp-logo{
      position: relative;
      top: 100px;
      left: 5%;
      width: 250px;
  }
  
  #quote{
      font-size: 20px;
      color: #fff;
      position: relative;
      top: 130px;
  }
  
  #quote-author{
      position: relative;
      top: 130px;
      font-size: 20px;
      color: #fff;
      padding-left: 60%;
  }
}

@media (max-width:530px){
  #comp-name{
      position: relative;
      top: 160px;
      font-size: 60px;
      font-weight: 600;
      color: white;
  }
  #text{
      position: relative;
      top: 180px;
      font-size: 25px;
      color: white;
  }
  #comp-logo{
      position: relative;
      top: 110px;
      left: 5%;
      width: 200px;
  }
  
  #quote{
      font-size: 20px;
      color: #fff;
      position: relative;
      top: 160px;
      left: 10px;
  }
  
  #quote-author{
      position: relative;
      top: 160px;
      font-size: 20px;
      color: #fff;
      padding-left: 70%;
  }
}

@media (max-width:440px){
  #top{
      height:100vh;
  }
  #comp-name{
      position: relative;
      top: 160px;
      font-size: 40px;
      font-weight: 600;
      color: white;
  }
  #text{
      position: relative;
      top: 180px;
      font-size: 18px;
      color: white;
      /*left:10px;*/
  }
  #comp-logo{
      position: relative;
      top: 130px;
      left: 5%;
      width: 150px;
  }
  
  #quote{
      font-size: 15px;
      color: #fff;
      position: relative;
      top: 180px;
      left: 10px;
  }
  
  #quote-author{
      position: relative;
      top: 180px;
      font-size: 15px;
      color: #fff;
      padding-left: 60%;
  }
}


/* section 2 */

#second {
  position: relative;
  padding: 2% 5% 5%;
  border-top: white 10px solid;
  background-color: #f1c40f;
}

#main1 {
  padding-bottom: 3%;
}

.h2 h2 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  color: white;
  padding-bottom: 10px;
}

.image1 img {
  border-radius: 100%;
  height: 180px;
  width: 180px;
  border-bottom: #39424e 10px solid;
  border-bottom-left-radius: 10px;
}
.image2 img {
  border-radius: 100%;
  height: 180px;
  width: 180px;
  border-bottom-right-radius: 10px;
  border-bottom: #39424e 10px solid;
}
.image3 img {
  border-radius: 100%;
  height: 180px;
  width: 180px;
  border-bottom: #39424e 10px solid;
  border-bottom-left-radius: 10px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}
.image1,
.image2,
.image3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#second p {
  border-radius: 20px;
  background-color: #ecf0f1;
  
}

.image1,
.image2,
.image3 {
  position: relative;
  padding: 3%;
  /* width: 50%; */
}
.div1, .div2, .div3{
  display: flexbox;
  padding: 0% 5%;
  margin: -4% 0%;
}
@media screen and (min-device-width: 991px){
  
  .div1, .div2, .div3{
    display: flexbox;
    padding: 1% 5%;
  }
  }
@media screen and (max-device-width: 991px){
  
.div1, .div2, .div3{
  display: flexbox;
  padding: 5% 5%;
}
}
@media screen and (max-device-width: 575px){
  .image1, .image3{
      order: -1;
  } 
}

.txtoverlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  /* height: 180px;
    width: 180px; */
  background: linear-gradient(to right, #f37335);
  border-radius: 100%;
  border-bottom-left-radius: 10px;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
}

.txtoverlay1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 100%;
  border-bottom-left-radius: 10px;
  background: linear-gradient(to right, #f37335);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
}

/* .image1:hover .txtoverlay {
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 70px;
} */

.image2:hover .txtoverlay1 {
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 70px;
}

.image3:hover .txtoverlay {
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 70px;
}

/* .image1:hover img {
  filter: blur(5px);
  -webkit-filter: blur(5px);
} */

.image2:hover img {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.image3:hover img {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.text {
  color: #fff;
  font-size: 23px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2); /* Black w/opacity/see-through */
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

/* section 3 - cards */

#third {
  width: 98.75vw;
}

#third .row {
  margin-bottom: 0px;
  width: 98.75vw;
}

p {
  font-weight: bolder;
}

.head2 {
  /* background: -webkit-linear-gradient(#642b73, #c6426e); */
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  top: 40px;
}
.head2 h2 {
  color: #202938;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
}

/* Cards */

.card {
  border-radius: 10%;
}

.card-img-top {
  height: 246px;
  width: 246px;
  position: relative;
  z-index: 2;
  top: -30px;
  margin: 20px;
  /* margin: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 80%;
  /* border: 4px solid; */
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prof1 {
  background-image: linear-gradient(to right, #00c6ff, #0072ff);
  padding: 3px;
}

.prof2 {
  background-color: #3b5998;
  padding: 3px;
}

.prof4 {
  background-image: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  padding: 3px;
}
.prof5 {
  background-color: rgb(230, 0, 35);
  padding: 3px;
}
.prof3 {
  background-color: #3b5998;
  padding: 3px;
}

.card-body > a {
  margin: 15px;
}

.contain {
  position: relative;
  display: flex;
  /* justify-content: center;
    align-items: center; */
  /* width: 255px; */
  /* flex-wrap: wrap; */
  padding: 20px 0px;
  margin: 30px;
}

.contain .card {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 300px;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
  transition: 0.2s ease-in-out;
}
@media screen and (min-device-width: 400px){
  .card{
    width: 300px;
  }
  .card:hover{
    width: 350px;
  }
}
@media screen and (max-device-width: 400px){
  .card{
    width: 240px;
  }
  .card:hover{
    width: 260px;
  }
}

.contain .card:hover {
  height: 400px;
  transition: 0.2s ease;
  border-radius: 5%;
  background: #39424e;
}

.card-title {
  color: #29b35b;
}

.contain .card .content {
  margin: 2px 2px;
  padding: 5px 5px;
  text-align: center;
  position: relative;
  visibility: hidden;
  opacity: 0;
  /* min-height: 250px; */
}

.contain .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: 0px;
  transition-delay: 0.3s;
  /* top:-30px; */
  width: 100%;
}

.contain .card:hover .card-img-top {
  /* max-width: 100%; */
  position: relative;
  top: 1px;
  height: 200px;
  width: 200px;
  /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5); */
  transition: 0.1s ease-in-out;
  /* padding: 10px; */
  margin: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
}

.card1,
.card2,
.card3 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.card-link img {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  /* padding: 1%; */
  margin-bottom: 5%;
}

/* section 4 - Footer */

#last {
  background-color: #34495e;
  width: 98.75vw;
}

.footer {
  margin: 20px;
  padding: 10px 10px;
}

.line {
  width: 30px;
  margin-left: 30%;
  border-top: white 2px solid;
}

.foot a {
  text-decoration: none !important;
  color: white;
}

.footer > .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (min-device-width:375px) {
  .h5 {
    width: 30%;
  }
  .icon{
    width:14%;
  }
}
@media screen and (max-device-width:375px) {
  .h5 {
    width: 100%;
  }
  .icon{
    width:20%;
  }
}
.icon {
  /* width: 14.8%; */
  color: rgba(255, 255, 255, 0.26);
  padding-left: 0;
}

.foot a:hover {
  color: #3498db;
}

.foot-link {
  text-transform: uppercase;
}

.fa {
  border-radius: 10%;
  padding: 5px;
  font-size: 25px;
  text-decoration: none;
  /* color: rgba(0, 0, 0, 0.2); */
}
.fa-facebook:hover {
  background-image: linear-gradient(to right, #00c6ff, #0072ff);
  padding: 6px;
}

.fa-linkedin:hover {
  background-color: #3b5998;
  padding: 6px;
}

.fa-instagram:hover {
  background-image: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  padding: 6px;
}
.fa-youtube-play:hover {
  background-color: rgb(230, 0, 35);
  padding: 6px;
}
.fa-twitter:hover {
  background-color: #3b5998;
  padding: 6px;
}

/* media queries */

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px) {
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  /* some CSS here */
}

/* #### iPhone 5 Portrait or Landscape #### */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  /* some CSS here */
}

/* #### iPhone 6 and 6 plus Portrait or Landscape #### */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* #### Desktops #### */
@media screen and (min-width: 1024px) {
}

/* Footer */

#footer {
  background-color: #202938;
  color: rgba(255, 255, 255, 0.26);
  padding: 1.5%;
  text-align: center;
}
