body {
    scroll-behavior: smooth;
    background-color: #dbe6fd;
    font-family: "Montserrat";
}

.container-fluid {
    background-color: #dbe6fd;
    background-image: url(https://images.unsplash.com/photo-1599634874901-e919c4fe1400?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aWl0JTIwcm9vcmtlZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.footer-icon {
    margin: 20px 30px;
}

.footer-icon:hover {
    color: #2940d3;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 10px;
    font-weight: 800;
    font-size: 2.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

P {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px 0;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Montserrat';
    font-weight: normal;
    color: white;
    text-align: center;
    margin: 2rem 0;
}

.container-fluid {
    padding: 0.5% 15%;
    border-radius: 0 0 25px 25px;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
}

.column {
    width: calc(25% - 2rem);
    margin: 1rem;
    cursor: pointer;
}

.container {
    transform-style: preserve-3d;
    perspective: 1000px;
}

.container2 {
    text-align: center;
    padding: 7% 15%;
    border-radius: 25px 25px 0 0;
    background-color: #98b0e4;
}

.front,
.back {
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    backface-visibility: hidden;
    text-align: center;
    min-height: 280px;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
}

.back {
    background: #cedce7;
    background: -webkit-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
    background: -o-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
    background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
}

.front:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    backface-visibility: hidden;
    border-radius: 10px;
}

.container:hover .front,
.container:hover .back {
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner {
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    font-family: "Montserrat";
    left: 0;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    outline: 1px solid transparent;
    perspective: inherit;
    z-index: 2;
}

.container .back {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.container .front {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}

.container:hover .back {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}

.container:hover .front {
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
}

.front .inner p {
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
}

.front .inner p:after {
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
}

.front .inner span {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Montserrat';
    font-weight: 300;
}

.message {
    font-family: "Pacifico";
    padding-top: 200px;
}

@media screen and (max-width: 64rem) {
    .column {
        width: calc(33.333333% - 2rem);
    }
}

@media screen and (max-width: 48rem) {
    .col {
        width: calc(50% - 2rem);
    }
}

@media screen and (max-width: 32rem) {
    .column {
        width: 100%;
        margin: 0 0 2rem 0;
    }
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
        margin: 50px;
    }
    .container-fluid {
        background-image: url(https://images.unsplash.com/photo-1599634875158-597d3f647df6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aWl0JTIwcm9vcmtlZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80);
        background-position: center;
        height: 100vh;
        padding-top: 10px;
        background-attachment: fixed;
        width: 100%;
    }
}