@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html {
    margin-right: 0;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0%;
    padding: 0%;
}

.nav-link:hover{
    text-decoration:underline;
}

/* search box css start */

.searchArea {
    position: absolute;
    top: 20%;
    left: 14vw;
    width:70vw;
    z-index: 5;
}
.autocom-box a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

li a {
    color: #1f00e9;
}


.wrapper {
    max-width: 450px;
    margin: 150px auto 120px auto;
}

.wrapper .search-input {
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
    position: relative;
}

.search-input input {
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input .icon {
    height: 55px;
    width: 55px;
    line-height: 55px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    color: #644bff;
    cursor: pointer;
}

.search-input .autocom-box {
    padding: 0;
    max-height: 280px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
}

.search-input.active .autocom-box {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.autocom-box li {
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    display: none;
}

.search-input.active .autocom-box li {
    display: block;
}

.autocom-box li:hover {
    background-color: #efefef;
}

/* search box end */


.row {
    --bs-gutter-x: 0rem;
}


/* Carousel */

#title .carousel-item {
    padding-top: 0;
    /* height: 15%; */
    width: 100%;
    /* height: 100vh; */
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* height: 20%; */
}



#title .carousel-inner .carousel-item img {
    height: 100vh;
    width: 100%;
    /* object-fit: cover; */
}

@media (max-device-width: 400px) {
    #title .carousel-inner .carousel-item img {
        height: 145vw;
        width: 100%;
        /* object-fit: cover; */
    }
  }

  @media (max-device-width: 500px){

  }

/* Motivational Quote */

*,
*::after,
*::before {
    box-sizing: border-box;
}

#motivational-quote {
    margin: 2vw;
    border-radius: .5rem;
    background-color: #39424e91;
    padding: 4vw 12vw 9vw;
    text-align: center;
    font-weight: bold;
    color: #39424e;
}

.quote-box {
    transition: 5s;
    transition-timing-function: ease-in;
}

@supports(background-clip:text) {
    .text {
        padding-top: 100px;
        transition: 0.5s;
        transition-timing-function: ease-in;
        color: transparent;
        /* font-family: adobe-garamond-pro, serif; */
    }
}

.text {
    background-image: linear-gradient(to right bottom, #fff, #fff);
    position: relative;
    margin-top: 8vw;
    font-weight: 700;
    font-style: italic;
    /* font-family: adobe-garamond-pro, serif; */
    font-size: 30px;
}

.quote {
    transition: 5s;
    transition-timing-function: ease-in;
}

.text-center {
    text-align: center;
}

.new-quote:hover {
    opacity: 0.6;
}

@supports(background-clip: text) {
    .author {
        font-size: 20px;
        transition: 0.5s;
        transition-timing-function: ease-in;
        /* font-family: 'Open Sans Condensed', sans-serif; */
        background-image: linear-gradient(to right bottom, #fff, #fff);
        color: transparent;
    }
}

.author {
    margin-left: 50%;
    margin-top: 1%;
    /* font-family: 'Mate SC', serif; */
    font-size: 20px;
    background-image: linear-gradient(to right bottom, #fff, #fff);
    color: #202938;
}

#motivational-quote p {
    margin-top: 5px;
    text-align: center;
    position: relative;
    width: 100%;
    top: 21.5%;
}

.Area {
    perspective: 150rem;
    position: relative;
    padding-bottom: 16%;
}

.mainArea {
    text-align: center;
    height: 15vw;
    width: 70vw;
    position: absolute;
    transition: all .8s ease;
    backface-visibility: hidden;
    box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: .5rem;
    background-color: #fff;
}

.backA {
    transform: rotateY(180deg);
}

.rotateFront {
    transform: rotateY(-180deg);
}

.rotateBack {
    transform: rotate(0deg);
}

@media (max-width:800px) {
    .navbar-brand {
        padding: 0%;
    }
    /* .search {
        top: 25%;
    } */
    #motivational-quote {
        padding: 7vw 8vw;
        margin: 2vw;
        border-radius: .5rem;
    }
    .Area {
        padding-bottom: 23vw;
    }
    .text {
        font-size: 3vw;
    }
    .text {
        font-size: 15px;
    }
    .author {
        font-size: 14px;
    }
    #middle {
        padding-bottom: 7vw;
    }
    .comp {
        margin-bottom: 3.0rem;
    }
    a.disabled {
        pointer-events: none;
        cursor: default;
    }
    .mainArea {
        height: 23vw;
        width: 79vw;
    }
}

@media (max-width:800px) and (min-width:600px){
    .text {
        font-size: 3.6vw;
    }
}


/* Cards */

#middle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    scroll-behavior: smooth;
    padding-bottom: 10vw;
}

#dream-company{
    font-size: 3rem;
    text-align: center;
    color: #34495E;
}

.companies h1,
h2,
h3,
h4,
p {
    margin: 0;
}

.front-view img {
    width: 12.5rem;
    height: 8.313rem;
}

.name {
    color: #39424e;
}

.link {
    cursor: pointer;
    border: 0;
    /* background: var(--clr-secondary); */
    border-radius: 100vw;
    color: white;
    font-weight: bold;
    /* padding: .5em 1em; */
    font-size: 0.8rem;
}

.company-button {
    color: rgba(255, 0, 0, 0.541);
}

.Companies {
    /* font-family: 'Noto Sans JP', sans-serif; */
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.comp {
    margin-top: 11vw;
    margin-left: 8.75px;
    margin-right: 8.75px;
    margin-bottom: 2.5rem;
    position: relative;
    width: 12.5em;
}

.Stage {
    display: flex;
    text-align: center;
}

.Stage img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.index {
    position: absolute;
    top: 0;
    right: 1em;
    z-index: 2;
    font-weight: bold;
    font-size: 1.125rem;
    background: #34495E;
    padding: .5em .5em .75em;
    clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0 100%, 0 0);
    transition: transform 200ms cubic-bezier(.21, 1.00, .81, 1.01);
}

.front-view {
    transition: 250ms ease;
}

.front-view .thumbnail {
    border-radius: .5em;
}

.front-view .name {
    margin-top: .75em;
    margin-bottom: .75em;
}

.front-view .stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-view {
    opacity: 0;
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    transform: translateY(35%);
    transition: transform 250ms ease, opacity 150ms linear;
}

.back-view .comp-info {
    columns: 2;
    column-rule: 1px solid rgba(255, 255, 255, 0.25);
}

.back-view .comp-stat {
    font-size: 0.7rem;
    text-align: center;
}

.back-view .comp-stat span {
    font-size: .75rem;
    display: block;
}

.background {
    background: #39424e;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    transform: scale(.3, .10);
    border-radius: .5em;
}
.comp:hover{
    transform: scale(1.1);
}
.comp:hover .index {
    transform: translate(150%, -105%);
    background-color: #29b35b;
}

.comp:hover .front-view {
    transform: translateY(-50%) scale(0.8);
}

.comp:hover .name {
    color: #29b35b;
}

.comp:hover .front-view .name {
    animation: compName 250ms forwards;
}

.comp:hover .front-view .stats {
    opacity: 0;
}

.comp:hover .back-view {
    z-index: 1;
    opacity: 1;
    transform: translateY(0);
}

.comp:hover .back-view .Stage {
    justify-content: space-between;
    width: 100%;
}

.comp:hover .back-view .Space {
    font-size: .9rem;
}

.comp:hover .back-view .name {
    font-weight: bold;
    color: white;
}

.comp:hover .background {
    transition: transform 200ms cubic-bezier(.21, 1.00, .81, 1.01), opacity 100ms linear;
    opacity: 1;
    transform: scale(1.4, 1.65) translateY(4%);
}

@keyframes compName {
    0% {
        text-align: left;
        opacity: 1;
    }
    20% {
        text-align: left;
        opacity: 0;
    }
    50% {
        text-align: center;
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        text-align: center;
        opacity: 1;
        transform: scale(1.2);
    }
}

.viewmore {
    margin-top: 15vh;
    text-align: center;
}


/* Help-Sites */

.Reference-Sites {
    color: #fff;
    font-size: 2rem;
}

.help {
    background-color: #34495E;
}

#help_sites {
    padding: 2%;
    text-align: center;
}

.help-img {
    width: 9.375rem;
    height: 6.75rem;
    padding: 0.125rem;
}

.carouselreferencelinks {
    height: auto;
    min-height: auto;
}


/* Mock Interview Section */

#mock_interviews {
    background-color: #F1C40F;
    text-align: center;
    padding: 2% 0;
}

.mock_interview_heading {
    font-size: 2.5rem;
    color: #ECF0F1;
}

.mock-section {
    padding: 4% 12%;
}

.iframe{
    padding: 3%;
    width: 19vw;
    height: 14vw;
}

@media (max-width:329px) {
    .iframe {
        width: 210px;
        height: 150px;
    }

    #dream-company{
        margin-bottom: 10%;
    }
}

@media (min-width:330px) and (max-width:389px) {
    .iframe {
        width: 270px;
        height: 150px;
    }
    #dream-company{
        margin-bottom: 10%;
        font-size: 7vw;
    }
}

@media (min-width:390px) and (max-width:450px) {
    .iframe {
        width: 300px;
        height: 150px;
    }
    #dream-company{
        margin-bottom: 10%;
        font-size: 8vw;
    }
}

@media (min-width:450px) and (max-width:574px) {
    .iframe {
        width: 350px;
        height: 150px;
    }
    #dream-company{
        margin-bottom: 10%;
        font-size: 8vw;
    }
}

@media (min-width:575px) and (max-width:767px) {
    .iframe {
        width: 200px;
        height: 150px;
    }
    #dream-company{
        margin-bottom: 10%;
        font-size: 8vw;
    }
}

#end-quote {
    margin: 3% 10%;
}

.end-quote {
    font-weight: bold;
    /* font-family: 'Montserrat Alternates', sans-serif; */
    color: #39424e;
}

#quote-img{
    width: 30vw;
}


/* Footer */
footer {
    background: #202938;
    width: 100%;
    bottom: 0;
    left: 0;
    
  }
  footer::before {
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #afafb6;
  }
  footer .content {
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
  }
  footer .content .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .content .top .logo-details {
    color: #fff;
    font-size: 30px;
  }
  
  footer .content .link-boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 5 - 10px);
  }
  .content .link-boxes .box .link_name {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
  }
  .link-boxes .box .link_name::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
  }
  .content .link-boxes .box li {
    margin: 6px 0;
    list-style: none;
  }
  .content .link-boxes .box li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease;
  }
  .content .link-boxes .box li a:hover {
    opacity: 1;
    text-decoration: underline;
  }
  
  footer .bottom-details {
    width: 100%;
    background: #000000;
  }
  footer .bottom-details .bottom_text {
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
  }
  .bottom-details .bottom_text a:hover {
    opacity: 1;
    text-decoration: underline;
  }
  .bottom-details .bottom_text a {
    margin-right: 10px;
  }
  @media (max-width: 900px) {
    footer .content .link-boxes {
      flex-wrap: wrap;
    }
  }
  @media (max-width: 700px) {
    footer {
      position: relative;
    }
    .content .top .logo-details {
      font-size: 26px;
    }
  
    footer .content .link-boxes .box {
      width: calc(100% / 3 - 10px);
    }
  
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a {
      font-size: 12px;
    }
  }
  
  @media (max-width: 520px) {
    footer .content .top {
      flex-direction: column;
    }
  
    footer .link-boxes ul li a{
      font-size: 0.6rem;
    }
  
    footer .content .link-boxes .box {
      width: calc(100% / 2 - 10px);
    }
  
    footer .content{
      padding-right: 45px;
      padding-left: 30px;
    }
  }
  
  .contents {
      position: relative;
  }
  
  .contents h2 {
    display: flex;
      color: rgb(14, 14, 14);
      font-size: 7em;
      position: absolute;
      transform: translate(-50%, -50%);
  }
  
  .contents h2:nth-child(1) {
      color: transparent;
      -webkit-text-stroke: 4px #f40303;
  }
  
  .contents h2:nth-child(2) {
      color: #f4030f;
      animation: animate 4s ease-in-out infinite;
  }
  
  @media only screen and (max-width:720px) {
    .contents h2{
      font-size: 5em;
    }
  }
  @media only screen and (max-width:520px) {
    .contents h2{
      font-size: 4em;
    }
    .contents h2:nth-child(1) {
      color: transparent;
      -webkit-text-stroke: 3px #f40303;
    }
  }
  @media only screen and (max-width:420px) {
    .contents h2{
      font-size: 3.5em;
    }
    .contents h2:nth-child(1) {
      color: transparent;
      -webkit-text-stroke: 2px #f40303;
    }
  }
  @media only screen and (max-width:350px) {
    .contents h2{
      font-size: 3em;
    }
    .contents h2:nth-child(1) {
      color: transparent;
      -webkit-text-stroke: 2px #f40303;
    }
  }


  @media (max-width:992px) {
      .reliance , .twitter{
          visibility:collapse;
          height: 0px;
      }
  }
  