html {
    margin-right: 0;
}

* {
    margin: 0%;
    padding: 0%;
}


/* Navigation Bar */

.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.navbar-brand {
    padding: 0 60% 0 2%;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

.nav-top {
    color: white;
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
}

.nav-link {
    font-size: 1.2rem;
}


/* Search-Box */


/* li {
    display: block;
} */


/* 
a {
    text-decoration: none;
} */

.dropdown {
    margin-top: 2%;
    display: none;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    transform: scale(1.1);
    font-family: 'Libre Baskerville', serif;
}


/* .showsearch {
    display: block;
    border-radius: 10px;
    transform: scale(1.1);

    font-family: 'Libre Baskerville', serif;
} */

.dropdown a {
    text-decoration: none;
    color: black;
    width: 100%;
}

li {
    list-style: none;
}

.searchArea {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
}

.searchBar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 50%;
}

.search {
    padding: 0.7rem 2rem;
    border: 0;
    box-shadow: 1px 2px 10px #202938;
    font-weight: bold;
    font-size: 0.9rem;
    transition: all 0.3s;
    color: #4c333e;
    border-radius: 10px;
    width: 100%;
    font-family: 'Libre Baskerville', serif;
}

.search:focus {
    transform: scale(1.1);
    border: 0;
    outline: none;
    /* box-shadow: 1px 2px 10px rgb(0, 102, 255); */
}


/* Carousel */

#title .carousel-item {
    padding-top: 0;
    /* height: 15%; */
    width: 100%;
    /* height: 100vh; */
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* height: 20%; */
}

#title .carousel-inner {
    height: 100vh;
}

#title .carousel-inner .carousel-item img {
    height: 100vh;
    width: 100%;
    /* object-fit: cover; */
}


/* Motivational Quote */

*,
*::after,
*::before {
    box-sizing: border-box;
}

#motivational-quote {
    background-color: #39424e;
    padding: 6% 15% 9%;
    text-align: center;
    font-weight: bold;
    color: #39424e;
}

.quote-box {
    transition: 0.5s;
    transition-timing-function: ease-in;
}

@supports(background-clip:text) {
    .text {
        padding-top: 100px;
        transition: 0.5s;
        transition-timing-function: ease-in;
        color: transparent;
        font-family: adobe-garamond-pro, serif;
    }
}

.text {
    background-image: linear-gradient(to right bottom, #fff, #fff);
    position: relative;
    margin-top: 10%;
    font-weight: 700;
    font-style: italic;
    font-family: adobe-garamond-pro, serif;
    font-size: 30px;
}

.quote {
    transition: 0.5s;
    transition-timing-function: ease-in;
}

.text-center {
    text-align: center;
}

.new-quote:hover {
    opacity: 0.6;
}

@supports(background-clip: text) {
    .author {
        font-size: 20px;
        transition: 0.5s;
        transition-timing-function: ease-in;
        font-family: 'Open Sans Condensed', sans-serif;
        background-image: linear-gradient(to right bottom, #fff, #fff);
        color: transparent;
    }
}

.author {
    margin-left: 50%;
    margin-top: 1%;
    font-family: 'Mate SC', serif;
    font-size: 20px;
    background-image: linear-gradient(to right bottom, #fff, #fff);
    color: #202938;
}

#motivational-quote p {
    margin-top: 5px;
    text-align: center;
    position: relative;
    width: 100%;
    top: 21.5%;
}

.Area {
    perspective: 150rem;
    position: relative;
    padding-bottom: 16%;
}

.mainArea {
    text-align: center;
    height: 28vh;
    width: 70vw;
    position: absolute;
    transition: all .8s ease;
    backface-visibility: hidden;
    box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: .5rem;
    background-color: #fff;
}

.backA {
    transform: rotateY(180deg);
}

.rotateFront {
    transform: rotateY(-180deg);
}

.rotateBack {
    transform: rotate(0deg);
}

@media (max-width:800px) {
    .navbar-brand {
        padding: 0%;
    }
    .search {
        top: 25%;
    }
    #motivational-quote {
        padding: 2% 15%;
    }
    .Area {
        padding-bottom: 45%;
    }
    .text {
        font-size: 15px;
    }
    .text {
        font-size: 15px;
    }
    .author {
        font-size: 14px;
    }
    #middle {
        padding-bottom: 10%;
    }
    .comp {
        margin-bottom: 3.0rem;
    }
    a.disabled {
        pointer-events: none;
        cursor: default;
    }
    .mainArea {
        height: 20vh;
    }
}

@media (max-width:1200px) {
    .navbar-brand {
        padding-right: 55%;
    }
}


/* Cards */

#middle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    scroll-behavior: smooth;
    padding-bottom: 10%;
}

.companies h1,
h2,
h3,
h4,
p {
    margin: 0;
}

.front-view img {
    width: 12.5rem;
    height: 8.313rem;
}

.name {
    color: #39424e;
}

.link {
    cursor: pointer;
    border: 0;
    /* background: var(--clr-secondary); */
    border-radius: 100vw;
    color: white;
    font-weight: bold;
    /* padding: .5em 1em; */
    font-size: 0.8rem;
}

.company-button {
    color: rgba(255, 0, 0, 0.541);
}

.Companies {
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.comp {
    margin-top: 8.0rem;
    margin-left: 8.75px;
    margin-right: 8.75px;
    margin-bottom: 2.5rem;
    position: relative;
    width: 12.5em;
}

.Stage {
    display: flex;
    text-align: center;
}

.Stage img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.index {
    position: absolute;
    top: 0;
    right: 1em;
    z-index: 2;
    font-weight: bold;
    font-size: 1.125rem;
    background: #34495E;
    padding: .5em .5em .75em;
    clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0 100%, 0 0);
    transition: transform 200ms cubic-bezier(.21, 1.00, .81, 1.01);
}

.front-view {
    transition: 250ms ease;
}

.front-view .thumbnail {
    border-radius: .5em;
}

.front-view .name {
    margin-top: .75em;
    margin-bottom: .75em;
}

.front-view .stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-view {
    opacity: 0;
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    transform: translateY(35%);
    transition: transform 250ms ease, opacity 150ms linear;
}

.back-view .comp-info {
    columns: 2;
    column-rule: 1px solid rgba(255, 255, 255, 0.25);
}

.back-view .comp-stat {
    font-size: 0.7rem;
    text-align: center;
}

.back-view .comp-stat span {
    font-size: .75rem;
    display: block;
}

.background {
    background: #39424e;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    transform: scale(.3, .10);
    border-radius: .5em;
}

.comp:hover .index {
    transform: translate(150%, -105%);
    background-color: #29b35b;
}

.comp:hover .front-view {
    transform: translateY(-50%) scale(0.8);
}

.comp:hover .name {
    color: #29b35b;
}

.comp:hover .front-view .name {
    animation: compName 250ms forwards;
}

.comp:hover .front-view .stats {
    opacity: 0;
}

.comp:hover .back-view {
    opacity: 1;
    transform: translateY(0);
}

.comp:hover .back-view .Stage {
    justify-content: space-between;
    width: 100%;
}

.comp:hover .back-view .Space {
    font-size: .9rem;
}

.comp:hover .back-view .name {
    font-weight: bold;
    color: white;
}

.comp:hover .background {
    transition: transform 200ms cubic-bezier(.21, 1.00, .81, 1.01), opacity 100ms linear;
    opacity: 1;
    transform: scale(1.4, 1.65) translateY(4%);
}

@keyframes compName {
    0% {
        text-align: left;
        opacity: 1;
    }
    20% {
        text-align: left;
        opacity: 0;
    }
    50% {
        text-align: center;
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        text-align: center;
        opacity: 1;
        transform: scale(1.2);
    }
}

.view-more {
    margin: 8vh 0vh 0vh 80vw;
}


/* Help-Sites */

.Reference-Sites {
    color: #fff;
    font-size: 2rem;
}

.help {
    background-color: #34495E;
}

#help_sites {
    padding: 2%;
    text-align: center;
}

.help-img {
    width: 9.375rem;
    height: 6.75rem;
    padding: 0.125rem;
}

.carouselreferencelinks {
    height: auto;
    min-height: auto;
}


/* Mock Interview Section */

#mock_interviews {
    background-color: #F1C40F;
    text-align: center;
    padding: 2% 0;
}

.mock_interview_heading {
    font-size: 2.5rem;
    color: #ECF0F1;
}

.mock-section {
    padding: 4% 12%;
}

@media (max-width:329px) {
    .iframe {
        width: 210px;
        height: 150px;
    }
}

@media (min-width:330px) and (max-width:389px) {
    .iframe {
        width: 270px;
        height: 150px;
    }
}

@media (min-width:390px) and (max-width:450px) {
    .iframe {
        width: 300px;
        height: 150px;
    }
}

@media (min-width:450px) and (max-width:574px) {
    .iframe {
        width: 350px;
        height: 150px;
    }
}

@media (min-width:575px) and (max-width:767px) {
    .iframe {
        width: 200px;
        height: 150px;
    }
}

@media (min-width:768px) and (max-width:840px) {
    .iframe {
        width: 150px;
        height: 140px;
    }
}

@media (min-width:841px) and (max-width:939px) {
    .iframe {
        width: 160px;
        height: 150px;
    }
}

@media (min-width:940px) and (max-width:1025px) {
    .iframe {
        width: 180px;
        height: 150px;
    }
}

@media (min-width:1025px) and (max-width:1089px) {
    .iframe {
        width: 200px;
        height: 150px;
    }
}

@media (min-width:1090px) and (max-width:1189px) {
    .iframe {
        width: 210px;
        height: 150px;
    }
}

@media (min-width:1190px) and (max-width:1390px) {
    .iframe {
        width: 230px;
        height: 150px;
    }
}

@media (min-width:1391px) and (max-width:1674px) {
    .iframe {
        width: 270px;
        height: 190px;
    }
}

@media (min-width:1675px) {
    .iframe {
        width: 320px;
        height: 190px;
    }
}

#end-quote {
    margin: 3% 10%;
}

.end-quote {
    font-weight: bold;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #39424e;
}


/* Footer */

#footer {
    background-color: #202938;
    color: rgba(255, 255, 255, 0.26);
    padding: 2%;
    text-align: center;
}

.media-icon {
    margin: 10px 20px;
}