<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

  <link rel="stylesheet" href="./css/vertical_scroll.css" />
  <link rel="stylesheet" href="./css/intro.css" />
  <link rel="stylesheet" href="./css/c-plus.css" />
  <link rel="stylesheet" href="./css/c-sharp.css" />
  <link rel="stylesheet" href="./css/javascript.css" />
  <link rel="stylesheet" href="./css/kotlin.css" />
  <link rel="stylesheet" href="./css/php.css" />
  <link rel="stylesheet" href="./css/python.css" />
  <link rel="stylesheet" href="./css/flip_card.css" />
  <link rel="stylesheet" href="./css/nav.css" />
  <link rel="stylesheet" href="./css/footer.css" />
  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
  <!-- font end -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <title>Advance DSA</title>
</head>

<body>
  <div class="myslider">
    <div class="item intro">
      
      <h2>Advance DSA <br> ➡</h2>

      <div id="background-wrap">
        <div class="bubble x1"></div>
        <div class="bubble x2"></div>
        <div class="bubble x3"></div>
        <div class="bubble x4"></div>
        <div class="bubble x5"></div>
        <div class="bubble x6"></div>
        <div class="bubble x7"></div>
        <div class="bubble x8"></div>
        <div class="bubble x9"></div>
        <div class="bubble x10"></div>
      </div>
      <div class="p-1 navi end-0 mt-2 bg-transparent">
        <nav class="navbar nav_beforepreload navbar-expand-lg navbar-light" style="justify-content: flex-end">
          <div class="justify-content-end">
            <div id="navbar01">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              
                <span class="navbar-toggler-icon"></span>
              
            </button>
            </div>
            <div class="collapse navbar-collapse flex-row justify-content-end" id="navbarSupportedContent">
              <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item mt-1 mt-lg-0 mx-1">
                  <a class="nav-link active px-3" aria-current="page" href="#">Home</a>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Categories
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                      <a class="dropdown-item" href="#">Core Languages</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">CS Subjects</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">CS Skiils</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Competitive</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Projects</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Contests</a>
                    </li>
                    
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Languages
                    
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                      <a class="dropdown-item" href="#">C++</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Python</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">JavaScript</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Kotlin</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Php</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">C-Sharp</a>
                    </li>
                    
                  </ul>
                </li>
                
                <li class="nav-item mx-1">
                  <a class="nav-link px-3" href="ourteam/team.html">Our Team</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="logo">
        <a href="#">
          <img src="./images/logo.png" alt="Logo">
        </a>
      </div>
      <div class="headervdo .headervdo_afterpreload">
        <video autoplay muted loop >
          <source src="../Advance DSA/video (1).mp4" type="video/mp4">
        </video>
      </div>
      
    </div>
    <div class="item c-plus">
      <div class="display">
        <div class="info">
          <h3>Advance DSA</h3>
          <iframe height="400" width="870" src="https://www.youtube.com/embed/2mOgMkSFLiA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;" allowfullscreen>>
          </iframe>
          <p>
            The knowledge of DSA is tested significantly in the technical hiring process of many companies. ... Advanced knowledge of Data Structures and Algorithms is a clear indicator of the person's capabilities in solving complex problems in minimal time and
           
            <br />
            For more info &nbsp;
            <a href="https://www.w3schools.in/data-structures-tutorial/intro/" target="_blank">Click Here</a>
          </p>
        </div>
        <div class="sources">
          <div class="courses">
            <h1>Courses</h1>
            <div class="boxes">
              
              <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="https://www.thepottershouse.org/wp-content/uploads/youtube-icon.png" alt="" />
                    <!-- <h4>3</h4> -->
                  </div>
                  <div class="flip-card-back">
                    <a target="_blank" href="https://youtube.com/playlist?list=PLfqMhTWNBTe0b2nM6JHVCnAkhQRGiZMSJ"> Visit </a>
                  </div>
                </div>
              </div>
              <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="https://techloverenterprises.com/wp-content/uploads/2020/10/udemy.png" />
                    <!-- <h4>1</h4> -->
                  </div>
                  <div class="flip-card-back">
                    <a target="_blank" href="https://www.udemy.com/share/101OUH/"> Visit </a>
                  </div>
                </div>
              </div>

              <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="https://www.thepottershouse.org/wp-content/uploads/youtube-icon.png" alt="" />
                    <!-- <h4>2</h4> -->
                  </div>
                  <div class="flip-card-back">
                    <a target="_blank" href="https://youtube.com/playlist?list=PLdo5W4Nhv31bbKJzrsKfMpo_grxuLl8LU"> Visit </a>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          <div class="Books">
            <h1>Books</h1>
           

              <!-- Books Sections -->

            <main id="app">
              <div class="book" v-for="book in books">
                <div class="book-inner">
                  <div style="background-repeat: no-repeat;
                        background-image: url('https://m.media-amazon.com/images/P/B08MZ6VSCQ.01._SCLZZZZZZZ_SX500_.jpg');
                        background-size: contain;" class="front face"></div>
                  <div v-bind:style="{ backgroundImage: 'url(' + book.img + ')' }" class="side"></div>
                  <div style="background-repeat: no-repeat ;
                            background-image: url('https://blog-cdn.reedsy.com/uploads/2018/04/Tin-House-194x300.jpg');
                            background-size: cover
                            ; border-radius: 0%;" class="flip-card-back">
                    <a target="_blank" href="https://www.researchgate.net/publication/346473585_Advanced_Data_Structures_An_Introduction_to_Data_Structures_and_Algorithms"> Visit </a>
                  </div>
                </div>
              </div>
              <div class="book" v-for="book in books">
                <div class="book-inner">
                  <div style="background-image: url('http://assets.cambridge.org/97805218/80374/cover/9780521880374.jpg');
                        background-size: contain;" class="front face"></div>
                  <div v-bind:style="{ backgroundImage: 'url(' + book.img + ')' }" class="side"></div>
                  <div style="background-image: url('https://images-na.ssl-images-amazon.com/images/I/71QxqAX0ovL.jpg');
                            background-size: contain; border-radius: 0%;" class="flip-card-back">
                    <a target="_blank" href="https://doc.lagout.org/Others/Data%20Structures/Advanced%20Data%20Structures%20%5BBrass%202008-09-08%5D.pdf"> Visit </a>
                  </div>
                </div>
              </div>
              <div class="book" v-for="book in books">
                <div class="book-inner">
                  <div style="background-image: url('https://i.pinimg.com/originals/0a/9a/6a/0a9a6ab9d9b958db27f98756134499d7.jpg');
                        background-size: contain;" class="front face"></div>
                  <div v-bind:style="{ backgroundImage: 'url(' + book.img + ')' }" class="side"></div>
                  <div style="background-image: url('https://sp-uploads.s3.amazonaws.com/uploads/services/1745332/20210607195123_60be78bb78c62_dsa(2)page1.png');
                            background-size: contain; border-radius: 0%;" class="flip-card-back">
                    <a target="_blank" href="https://www.cs.bham.ac.uk/~jxb/DSA/dsa.pdf"> Visit </a>
                  </div>
                </div>
              </div>
            </main>
          </div>
          <div class="documentation">
            <h1>Documentation</h1>
            <a target="_blank" href="https://www.geeksforgeeks.org/top-algorithms-and-data-structures-for-competitive-programming/" class="button">
              <img src="https://img.icons8.com/clouds/2x/google-docs.png" alt="" />
              <h3>Official Docs</h3>
            </a>
          </div>
        </div>
      </div>
    </div>
             
            
    <div class="item footer-slide">
      <footer>
        <div class="content">
          <div class="top">
            <div class="logo-details">
              <i class="fab fa-slack"></i>
              <span class="logo_name">CLGMANIA</span>
            </div>
            <!-- <div class="media-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </div> -->
          </div>
          <div class="link-boxes">
            <ul class="box">
              <li class="link_name">PLACEMENTS</li>
              <li><a href="#">Home</a></li>
              <li><a href="#">Colleges</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Get started</a></li>
            </ul>
            <ul class="box">
              <li class="link_name">STUDY MATERIAL</li>
              <li><a href="#">App design</a></li>
              <li><a href="#">Web design</a></li>
              <li><a href="#">Application</a></li>
              <li><a href="#">Banner design</a></li>
            </ul>
            <ul class="box" id="box_3">
              <li class="link_name">COLLEGE INFO</li>
              <div id="box3_links">
                <li><a href="#">Profile</a></li>
                <li><a href="#">My account</a></li>
                <li><a href="#">IITS</a></li>
                <li><a href="#">Purchase</a></li>
              </div>
            </ul>
            
          </div>
        </div>
        <div class="bottom-details">
          <div class="bottom_text">
            <span class="copyright_text">Copyright © 2021 <a href="#">Logo.</a>All rights reserved</span>
            <span class="policy_terms">
              <a href="#">Privacy policy</a>
              <a href="#">Terms & condition</a>
            </span>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.ripples/0.5.3/jquery.ripples.min.js"></script>
        <script>
          $(".intro,.bgvideo,.c-plus,.python,.javascript,.kotlin,.php").ripples({
            waterbody: 0.03,
            resolution: 400,
          });
        </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <div class="js_import">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
    <script src="./js/vertical_scroll.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 300, // offset (in px) from the original trigger point
        duration: 1000, // values from 0 to 3000, with step 50ms
      });
    </script>
  </div>
</body>

</html>