
  body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
    scroll-behavior: smooth;
  }
  
  .bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .bgimg-1 {
    min-height: 100%;
  }
  
  .bgimg-2 {
    background-image: url("./public/img_iit.jpg");
    min-width: 100%;
    min-height: 600px;
  }
  
  .bgimg-3 {
    background-image: url("./public/nit_img.jpg");
    min-height: 500px;
  }

  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }
  

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.toggle
{
  position: relative;
  width: 50px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 300px;
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  border-bottom: 2px solid black;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #177dac; */
  mix-blend-mode: overlay;
}
.text
{
  position: relative;
  z-index: 10;
}

.text h2
{
  font-size: 4em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  
}

.text p
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 6px;
}
.social
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover
{
  color: #03a9f4; 
}

@media only screen and (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
}
  
  .cards-college{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    background-color: 	#fbf7f5;
    padding-bottom: 40px;
  }
  .card {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px 10px;
    background: #fff;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    box-shadow: 20px 30px 50px rgba(0, 0, 0, 0.5);
    transition: 1s;
    margin: auto;
    margin-bottom: 10px;
  }
  .card:hover {
    transform: translateX(50%);
  }
  .card .imgBox {
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: left;
    z-index: 1;
    transform-style: preserve-3d;
    background: #000;
    transition: 1s;
  }
  .card:hover .imgBox {
    transform: rotateY(-180deg);
    box-shadow: 15px 25px 45px rgba(0, 0, 0, 0.35);
  }
  .card .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }
  .card .imgBox img:nth-child(2) {
    transform: rotateY(180deg);
  }
  .card .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('cardback.jpg');
  }
  .card .details .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
  .card .details h2 {
    text-align: center;
    font-weight: 700;
    line-height: 1em;
    color: #3f3f3f;
  }
  .card .details .social-icons {
    position: relative;
    display: flex;
    margin-top: 10px;
  }
  
  @media only screen and (max-width: 610px) {
      .card{
          height: 200px;
          width: 200px;
      }
  }
  @media only screen and (max-width: 410px) {
      .card{
          height: 150px;
          width: 150px;
      }
      .card .details h2{
          font-size: 1rem;
      }
      .read{
          font-size: 0.7rem;
      }
  }
  
  .quotegenerator , .quotegenerators{
  position: relative;
  letter-spacing: 1px;
}
.quote ,.quotes{
  transition: 1s ease-in-out;
}
.writer ,
.writers{
position: absolute;
bottom: 0;
right: 0;
transition: 1s ease-in-out;
}
.clgsec{
  display: flex;
  text-align: center;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 30px ;
}

.clgsec h1 {
  font-size: 5vw;
  color: red;
  position: relative;
  font-family: 'Stint Ultra Condensed', cursive;
  letter-spacing: 0.1em;
  font-weight: bold;
}
.clgsec h1::before {
  position: absolute;
  content: attr(data-text);
  text-shadow: 0px 0px 2px rgb(160, 160, 160);
  filter: blur(5px) brightness(0);
  animation: flicker 4s linear forwards;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}
@keyframes flicker {
  0% {
    filter: blur(5px) brightness(2);
  }
  3% {
    filter: blur(5px) brightness(0);
  }
  6% {
    filter: blur(5px) brightness(0);
  }
  7% {
    filter: blur(5px) brightness(1.5);
  }
  8% {
    filter: blur(5px) brightness(0);
  }
  9% {
    filter: blur(5px) brightness(2);
  }
  10% {
    filter: blur(5px) brightness(0);
  }
  20% {
    filter: blur(5px) brightness(1.5);
  }
  50% {
    filter: blur(5px) brightness(1);
  }
  99% {
    filter: blur(5px) brightness(0);
  }
  100% {
    filter: blur(5px) brightness(2);
  }
}

/* quote animation ended */

