.kotlin {
  background-color: rgb(68, 67, 67);
  /* background-image: url(../images/bg4.jpg); */
  background-image: url(../images/core-bg-2.jpg);

  background-size: cover;
  color: rgb(199, 233, 247);
}
