*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
        display: flex;
        flex-direction: column;
    }
    main {
      height: 100vh;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
    }
    .clgname {
      font-size: 5rem;
      top: 40%;
      position: relative;
      text-align: center;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
    .nav-link{
      color:black !important;
      font-weight: bolder;
      font-size: 1.5rem;
      border-radius: 9px;
    }
    .about{
        padding-top: 100vh;
    }
    @media only screen and (max-width:1500px) {
        .nav-link{
            font-size: 1.3rem;
        }
    }
    @media only screen and (max-width:1370px) {
        .nav-link{
            font-size: 1.2rem;
        }
    }
    @media only screen and (max-width:1300px) {
        .nav-link{
            font-size: 1.1rem;
        }
    }
    @media only screen and (max-width:1240px) {
        .nav-link{
            font-size: 1rem;
        }
    }
    @media only screen and (max-width:1190px) {
        .nav-link{
            font-size: 0.9rem;
        }
    }
    @media only screen and (max-width:1120px) {
        .nav-link{
            font-size: 0.8rem;
        }
    }
    @media only screen and (max-width:1055px) {
        .nav-link{
            font-size: 0.75rem;
        }
    }
    .navbar-toggler{
      background:white !important;
    }
    .nav-link:hover , .nav-link:focus, .nav-link:active{
      background: black;
      color: white !important;
    }
   
    
    #about {
      /* height: 100vh; */
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding: 7vh;
      /* overflow: hidden; */
      box-sizing: border-box;
      display: flex;
    }
    .table-about {
      box-sizing: border-box;
      height: auto;
      width: 100%;
      display: flex;
      margin: auto;
      /* backdrop-filter: blur(2px); */
    }
    .table-about th {
      background-color: rgba(255, 255, 255, 0.55);
      width: 40vw;
      font-size: 3rem;
      text-align: center !important;
      justify-content: center;
      align-items: center;
      padding: 30vh 8vw;
    }
    .table-about td {
      padding: 80px;
      background-color: rgba(255, 255, 255, 0.75);
      /* text-align: justify; */
      font-size: 1.13rem;
      overflow: auto;
      height: fit-content;
      font-family: Georgia, 'Times New Roman', Times, serif;
      height: auto;
      /* width: 50vw; */
    }
  
    .table-about tr{
        display: flex;
        height: 80vh;
        /* width: 80vw; */
        margin: auto;
        padding: auto;
    }
    @media only screen and (max-width:820px) {
        .table-about,.table-about tr{
            display: flex;
            flex-direction: column;
        }
  
        .table-about th{
          padding: 20px;
          width: inherit;
          /* width: ; */
        }
        .table-about td{
            padding: 30px;
            font-size: 1rem;
        }
    }
  
    header
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
  }
  header 
  {
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .showcase .toggle
  {
    position: relative;
    width: 50px;
    height: 50px;
    background: url(https://i.ibb.co/HrfVRcx/menu.png);
    filter: invert(1);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
  }
  .toggle.active
  {
    background: url(https://i.ibb.co/rt3HybH/close.png);
    filter: invert(1);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
  }
  .showcase
  {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    z-index: 20;
  }
  .showcase.active
  {
    right: 220px;
  }
  
  .showcase img
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    /* padding-top: 20px; */
    border-bottom: 2px solid black;
  }
  .overlay
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #177dac; */
    /* mix-blend-mode: overlay; */
  }
  .text
  {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
  }
  
  .text h3
  {
    font-size: 4em;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.7);
    /* padding: 20px; */
    text-align: center;
    /* line-height: 1em; */
    /* margin: auto; */
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  @media only screen and (max-width:750px) {
      .text h3{
          font-size: 3em;
      }
  }
  @media only screen and (max-width:570px) {
      .text h3{
          font-size: 2.5em;
      }
  }
  @media only screen and (max-width:450px) {
      .text h3{
          font-size: 2em;
      }
  }
  .menu
  {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .menu ul
  {
    position: relative;
  }
  .menu ul li
  {
    list-style: none;
  }
  .menu ul li a
  {
    text-decoration: none;
    font-size: 24px;
    color: #111;
  }
  .menu ul li a:hover
  {
    color: #03a9f4; 
  }
  .menu ul li a.active
  {
    color: red; 
  }
  
  @media only screen and (max-width: 991px)
  {
    .showcase,
    .showcase header
    {
      padding: 40px;
    }
    .text h2
    {
      font-size: 3em;
    }
  }
  #rank{
    padding: 40px 0;
    /* background: url('./image/ranking-bg.jpg'); */
  }
  .ranks{
      display: flex;
      width: 80%;
      background-image: linear-gradient(to left, #d4b22a, rgb(255, 255, 255));
      align-items: center;
      margin: auto;
      padding: 10px;
      border-radius: 40px;
      font-size: 50px;
      color: white;
      margin-bottom: 20px;
  }
  
  .ranks p{
      margin: auto;
      color: black;
  }
  
  .ranks img{
      display: flex;
      /* border-radius: 50%; */
      width: 110px;
      height: 110px;
      margin-right: auto;
  }
  
  .ranking{
    margin: 20px;
  }
  
  .ranking h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 65px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    text-align:center; 
    line-height:1.5em; 
    padding-bottom:25px; 
    font-family:"Playfair Display", serif; 
    text-transform:uppercase;
    letter-spacing: 2px; color:#111;
  }
  
  
  .ranking h1:before {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 60%;
    left:50%; margin-left:-30%;
    height: 1px;
    content: "";
    background-color: #777; z-index: 4;
  }
  .ranking h1:after {
    position:absolute;
    width:40px; height:40px; left:50%; margin-left:-20px; bottom:0px;
    content: '\00a7'; 
    font-size:40px; 
    line-height:40px; 
    color:#c50000;
    font-weight:400; 
    z-index: 5;
    display:block;
    /* background-color:rgba(180, 175, 175, 0.4); */
  }

  
  
  @media only screen and (max-width:820px) {
    .ranks p{
      font-size: 2.5rem;
    }
    .ranking h1{
      font-size: 70px;
    } 
  }
  @media only screen and (max-width:620px) {
    .ranks p{
      font-size: 2rem;
    }
    .ranking h1{
      font-size: 60px;
    } 
  }
  @media only screen and (max-width:410px) {
    .ranks p{
      font-size: 1.5rem;
    }
    .ranking h1{
      font-size: 50px;
    } 
    .ranks img{
      width: 90px;
      height: 90px;
    }
  }
  @media only screen and (max-width:350px) {
    .ranks p{
      font-size: 1.2rem;
    }
    .ranking h1{
      font-size: 35px;
    } 
    .ranks img{
      width: 70px;
      height: 70px;
    }
  }
  #courses{
   padding-bottom: 5vh;
  }
  .course{
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    height: 100%;
    width: 100%;
  }
  
  .course img{
    height: 60%;
    width: 40%;
  }
  
  .course h1{
    font-size: 1.7rem;
    padding: 10px;
  }
  
  @media only screen and (max-width:990px){
    .course h1{
      font-size: 1.3rem;
    }
  }
  @media only screen and (max-width:770px){
    .course h1{
      font-size: 1rem;
    }
  }
  @media only screen and (max-width:576px){
    .course h1{
      font-size: 1.7rem;
    }
  }
  
  .col-12 ,.col-sm-12 ,.col-xxl-4 ,.col-xl-4{
    padding: 0vw !important;
  }
   
  .even{
    background-color: rgba(180, 175, 175, 0.479);
  }
  
  
  #cutoff{
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50vh;
    background-color: rgba(180, 175, 175, 0.479);
  }
  
  .dropdown{
    margin: 30px;
  }
  
  #admission{
    display: flex;
    flex-direction: column;
    background-color: rgba(180, 175, 175, 0.479);
    padding-bottom: 4vh;
    padding-right: 2vw;
  }
  
  #admission ul{
    list-style: none;
  }
  
  #admission ul li{
    font-size: 1.5rem;
  }
  
  @media only screen and (max-width:530px) {
    #admission ul li{
      font-size: 1.1rem;
    }
  }
  
  
  #placement .buttons{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
  }
  
  #placement .buttons .btn{
    width: 50%;
  }
  /* #top-rec{
    padding-bottom: 100px;
  } */
  
  #top-rec {
    background-color: rgba(180, 175, 175, 0.479);
    text-align: center;
    padding: 2% 0;
  }
  
  .top-rec-heading {
    font-size: 2.5rem;
    color:#000000;
  }
  
  .top-rec-section {
    padding: 4% 12%;
  }
  
  @media (max-width:329px) {
    .iframe {
        width: 190px;
        height: 160px;
        margin: 10px;
    }
  }
  
  @media (min-width:330px) and (max-width:389px) {
    .iframe {
        width: 240px;
        height: 160px;
        margin: 10px;
    }
  }
  
  @media (min-width:390px) and (max-width:450px) {
    .iframe {
        width: 300px;
        height: 150px;
        margin: 10px;
    }
  }
  
  @media (min-width:450px) and (max-width:574px) {
    .iframe {
        width: 300px;
        height: 180px;
        margin: 10px;
    }
  }
  
  @media (min-width:575px) and (max-width:767px) {
    .iframe {
        width: 200px;
        height: 150px;
        margin: 10px;
    }
  }
  
  @media (min-width:768px) and (max-width:840px) {
    .iframe {
        width: 150px;
        height: 140px;
    }
  }
  
  @media (min-width:841px) and (max-width:939px) {
    .iframe {
        width: 160px;
        height: 150px;
    }
  }
  
  @media (min-width:940px) and (max-width:1025px) {
    .iframe {
        width: 180px;
        height: 150px;
    }
  }
  
  @media (min-width:1025px) and (max-width:1089px) {
    .iframe {
        width: 200px;
        height: 150px;
    }
  }
  
  @media (min-width:1090px) and (max-width:1189px) {
    .iframe {
        width: 210px;
        height: 150px;
    }
  }
  
  @media (min-width:1190px) and (max-width:1390px) {
    .iframe {
        width: 230px;
        height: 150px;
    }
  }
  
  @media (min-width:1391px) and (max-width:1674px) {
    .iframe {
        width: 270px;
        height: 190px;
    }
  }
  
  @media (min-width:1675px) {
    .iframe {
        width: 320px;
        height: 190px;
    }
  }
  
  #end-quote{
    margin: 3% 10%;
  }
  
  .end-quote{
    font-weight: bold;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #39424e;
  }
  
  
  
  #scrollTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 50%;
    background-color: #fd1d1d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color;
    z-index: 1000;
  }
  
  
  #scrollTop:hover {
    background-color: salmon;
  }
  
  
  .price-sec{
      width: 100%;
      height: 100%;
      box-sizing:border-box;
      padding-top: 20px;
    padding-bottom: 60px;
      background-color: rgb(255, 251, 251);
  }
  
  
  .price-sec .price-table{
      margin:5px 0px;
  }
  .price-sec .price-table .card{
      position: relative;
      max-width:400px;
      height:auto;
      /* background: linear-gradient(-45deg, #fe0847, #feae3f); */
      border-radius:15px;
      margin: 10px auto;
      padding: 40px 20px;
      box-shadow:7px 15px 15px rgba(0,0,0,.5);
      transition: .5s;
      overflow: hidden;
  }
  .price-sec .price-table .card:hover{
      transform: scale(1.02);
  }
  
  .price-table:nth-child(1) .card,
  .price-table:nth-child(1) .card .title i{
    background: linear-gradient(-45deg, #332e2d, rgba(180, 175, 175, 0.379));
  
  }
  .price-table:nth-child(2) .card,
  .price-table:nth-child(2) .card .title i{
          background: linear-gradient(-45deg, #332e2d, rgba(180, 175, 175, 0.379));
  
  }
  .price-table .card:before{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40%;
      background: rgba(255, 255, 255, .1);
      z-index: 1;
      transform:skewY(-5deg) scale(1.5);
  
  }
  .price-table .title i{
      color:#fff;
      font-size: 60px;
      width: 100px;
      height:100px;
      border-radius: 50%;
      text-align:center;
      line-height: 100px;
      box-shadow: 0 10px 10px rgba(0, 0, 0, .2)
  }
  .price-table .title h2{
      position: relative;
      margin:20px 0 0;
      padding: 0;
      color:rgb(3, 3, 3);
      font-size: 40px;
      z-index: 2;
    font-weight: bolder;
    text-shadow: 2px 2px 2px white;
  }
  .price-table .price{
      position: relative;
      z-index: 2;
  }
  .price-table .price h4{
      margin:0;
      padding: 20px 0;
      color:rgb(0, 0, 0);
      font-size: 30px;
    font-weight: bolder;
  }
  .option {
      position: relative;
      z-index: 2;
  }
  .option ul{
      margin:0;
      padding: 0;
      
  }
  .option ul li{
      margin:0 0 10px;
      padding: 0px 15px;
      list-style: none;
      color:#fff;
      font-size: 20px;
  }
  
  .card a{
      position: relative;
      z-index: 2;
      background: #fff;
      color: #000;
      width:150px;
      height: 40px;
      line-height: 40px;
      display: block;
      text-align:center;
      margin:20px auto 0;
      font-size: 16px;
      cursor: pointer;
      text-decoration: none;
      border-radius: 40px;
      box-shadow:0 5px 10px rgba(255, 255, 255, 0.6);
  
  }
  .card a:hover{
      text-decoration: none;
    background-color: black;
    color: white;
  }
  .dropdown{
    text-align: center;
  }
  
  #cutoff .btn-dark:hover{
    background-color: rgb(228, 11, 11);
  }
  #cutoff .btn-primary:hover{
    background-color: rgb(228, 11, 11);
  }
  
  .btn-primary a , .btn-dark a{
    text-decoration: none;
    color: white;
  }
  
  .btn-dark , .btn-primary{
    margin: 10px;
    padding: 20px;
  }
  
  footer {
    background: #313236;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  footer::before {
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #afafb6;
  }
  footer .content {
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
  }
  footer .content .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .content .top .logo-details {
    color: #fff;
    font-size: 30px;
  }
  
  footer .content .link-boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 5 - 10px);
  }
  .content .link-boxes .box .link_name {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
  }
  .link-boxes .box .link_name::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
  }
  .content .link-boxes .box li {
    margin: 6px 0;
    list-style: none;
  }
  .content .link-boxes .box li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease;
  }
  .content .link-boxes .box li a:hover {
    opacity: 1;
    text-decoration: underline;
  }
  
  footer .bottom-details {
    width: 100%;
    background: #000000;
  }
  footer .bottom-details .bottom_text {
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
  }
  .bottom-details .bottom_text a:hover {
    opacity: 1;
    text-decoration: underline;
  }
  .bottom-details .bottom_text a {
    margin-right: 10px;
  }
  @media (max-width: 900px) {
    footer .content .link-boxes {
      flex-wrap: wrap;
    }
  }
  @media (max-width: 700px) {
    footer {
      position: relative;
    }
    .content .top .logo-details {
      font-size: 26px;
    }
  
    footer .content .link-boxes .box {
      width: calc(100% / 3 - 10px);
    }
  
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a {
      font-size: 12px;
    }
  }
  
  @media (max-width: 520px) {
    footer .content .top {
      flex-direction: column;
    }
  
    footer .link-boxes ul li a{
      font-size: 0.6rem;
    }
  
    footer .content .link-boxes .box {
      width: calc(100% / 2 - 10px);
    }
  
    footer .content{
      padding-right: 45px;
      padding-left: 30px;
    }
  }